
/*==============================*/
/*      CSS de error.html*/
/*==============================*/

.d-flex {
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.error{
    font-size: 150px;
}
.not_found{
    font-size: 30px;
}